.easy-select {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .items {
        list-style: none;
        overflow-y: auto;
    }
    .item {
        cursor: pointer;
        &.empty {
            display: none;
            cursor: default;
        }
    }
}